.video-item iframe {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item iframe {
    max-width: 320px !important;
    max-height: 180px !important;
    margin: 20px;
}

.ui {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: "-apple-system", "BlinkMacSystemFont","Segoe UI", "Roboto" ,"Helvetica Neue","Arial" ,"sans-serif";
}
iframe {
    margin-top: 30px;
    margin-bottom: 20;
}
