/* .login,
.image {
  min-height: 80vh;
} */

.bg-image {
  background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/1STVFMTBJY.jpg');
  background-size: cover;
  background-position: center center;
}

.img {

align-items: center;


}

.customCheck1 {

color: orange;

}
