.img {
    width: 1em;
    height: 1em
}

.dashcontain {
    align-items: center;
    height: 100%;
    width: 100%;
}

.dashwrapper {
    align-items: center;
    width: 100%;
    background-color:whitesmoke;
}

.center {
    align-items: center;
    float: center;
}